body,p, h1, h2, h3, h4 {
  margin: 0;
}
a {
  text-decoration: none;
}
#app {
  background: #f1f1f1;
}
ul {
  list-style: none;
  padding: 0;
}
.page-auto {
  width: 1200px;
  margin: 0 auto;
}
img {
  width: 100%;
}
@font-face {
  font-family: NumberFont;
  font-style: normal;
  font-weight: 400;
  src:url(/static/fonts/BebasNeue.otf);
}
.flex {
  display: flex;
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-around {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.flex-align-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-align {
  display: flex;
  align-items: center;
}

.rel {
  position: relative;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.level-center {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.vertical-middle {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-text-overflow: ellipsis;
}

.ellipsis2 {
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;height: 0;
}
.division {
  background-color: #f1f1f1;
  height: 15px;
}
.detail-tit {
  position: relative;
  height: 40px;
  line-height: 40px;
  text-indent: 30px;
  font-size: 14px;
  color: #9e9e9e;
}
.detail-tit:before {
  content: "";
  width: 4px;
  height: 12px;
  border-radius: 200px;
  background: #d7d7d7;
  position:absolute;
  left: 20px;
  top: 50%;
  transform: translate(0, -50%);
}
.lever-padding {
  padding-bottom: 35px;
}

.home-title {
  height: 40px;
  position: relative;
  z-index: 20;
  background-color: #fff;
  padding: 0 20px;
}
.home-title .hot-txt {
  color: #a6a6a6;
  font-size: 13px;
}
.home-title a {
  display: block;
}
.home-title img {
  width: 60%;
  vertical-align: middle;
  float: right;
}
.person-title {
  height: 50px;
  overflow: hidden;
}
.person-conetnt {
  background-color: #fff;
  min-height: 455px;
  padding: 30px;
  box-sizing: border-box;
}
.data-hint {
  cursor: pointer;
  font-size: 13px;
  height: 70px;
  line-height: 70px;
  color: #666;
  border-bottom: 1px #f1f1f1 solid;
  background: #fff;
  text-align: center;
  display: inline-block;
  width: 100%;
}
.el-loading-mask {
  z-index: 100;
}
.no-data {
  width: 100%;
  height: 350px;
  /*background-image: url(../../assets/images/person_nocoll.png);*/
  background-image: url(/static/img/person_nocoll.png);
  /*background-image: url(../../assets/images/zwsj.png);*/
  background-size: 20%;
  background-position: center;
  background-repeat: no-repeat;
}
