body,p, h1, h2, h3, h4 {
  margin: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
}
image {
  width: 100%;
}

/**
 * 1. 修正所有浏览器中的行高.
 * 2. 防止在方向更改后调整字体大小
 *    IE on Windows Phone and in iOS.
 */
.articl-info>p>span{line-height: 1.5 !important;}
.hover{cursor: pointer;}
html {
  line-height: 1.15; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* 部分
   ========================================================================== */

/**
 * 在IE 9-中添加正确的显示-.
 */

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * 修正“部分”内的`h1`元素的字体大小和余量
 * Chrome，Firefox和Safari中的``article`上下文.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* 分组内容
   ========================================================================== */

/**
 * 在IE 9-中添加正确的显示.
 * 1. 在IE中添加正确的显示.
 */

figcaption,
figure,
main { /* 1 */
  display: block;
}

/**
 * 在IE 8中添加正确的边距.
 */

figure {
  margin: 1em 40px;
}

/**
 * 1. 在Firefox中添加正确的框大小.
 * 2. 在Edge和IE中显示溢出.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1.修正所有浏览器中字体大小的继承和缩放.
 * 2.在所有浏览器中更正奇怪的“em”字体大小.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* 文本级语义
   ========================================================================== */

/**
 * 1. 删除IE 10中活动链接上的灰色背景.
 * 2. 在iOS 8+和Safari 8+中删除链接下划线的空白.
 */

a {
  background-color: transparent; /* 1 */
  -webkit-text-decoration-skip: objects; /* 2 */
}

/**
 * 1. 删除Chrome 57-和Firefox 39-中的底部边框.
 * 2. 在Chrome，Edge，IE，Opera和Safari中添加正确的文字装饰.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 *防止Safari 6中下一个规则重复应用"bolder".
 */

b,
strong {
  font-weight: inherit;
}

/**
 * 在Chrome，Edge和Safari中添加正确的字体.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. 修正所有浏览器中字体大小的继承和缩放.
 * 2. 在所有浏览器中更正奇怪的“em”字体大小.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * 在Android 4.3-中添加正确的字体.
 */

dfn {
  font-style: italic;
}

/**
 * 在IE 9-中添加正确的背景和颜色.
 */

mark {
  background-color: #ff0;
  color: #000;
}

/**
 * 在所有浏览器中添加正确的字体大小.
 */

small {
  font-size: 80%;
}

/**
 * 防止`sub`和`sup`元素影响行高
 * 所有浏览器.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* 嵌入式内容
   ========================================================================== */

/**
 * 在IE 9-中添加正确的显示.
 */

audio,
video {
  display: inline-block;
}

/**
 * 在iOS 4-7中添加正确的显示.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * 删除IE 10中的链接内的图像上的边框.
 */

img {
  border-style: none;
}

/**
 * 隐藏IE中的溢出.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */

/**
 * 删除Firefox和Safari中的边距.
 */

button,
input,
optgroup,
select,
textarea,
ul {
  margin: 0;
}

/**
 * 在IE中显示溢出.
 * 1. 显示边缘溢出.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 **删除Edge，Firefox和IE中文本转换的继承.
 * 1. 删除Firefox中文本转换的继承.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * 1.防止WebKit错误，其中（2）破坏了本机的“audio”和“video”
 *    控件在Android 4.
 * 2. 修正无法在iOS和Safari中设置可点击类型.
 */

button,
html [type="button"], /* 1 */
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; /* 2 */
}

/**
 * 删除Firefox中的内部边框和填充.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * 恢复上一个规则未设置的焦点样式.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * 1. 纠正Edge和IE中的文本包装.
 * 2. 修正IE中的`fieldset`元素的颜色继承.
 * 3.删除填充物，使得开发人员在清零时不会被捕获
 * `fieldset`元素在所有浏览器
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * 1. 在IE 9-中添加正确的显示.
 * 2. 在Chrome，Firefox和Opera中添加正确的垂直对齐方式.
 */

progress {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 *删除IE中的默认垂直滚动条.
 */

textarea {
  overflow: auto;
}

/**
 * 1. 在IE 10-中添加正确的盒子大小.
 * 2. 删除IE 10-中的填充.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * 更正Chrome中增量和减量按钮的光标样式.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. 在Chrome和Safari中更正奇怪的外观.
 * 2. 更正Safari中的轮廓样式.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * 删除Mac上的Chrome和Safari中的内填充和取消按钮.
 */

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. 纠正在iOS和Safari中无法设置可点击类型.
 * 2. 在Safari中将字体属性更改为`inherit.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * 在IE 9-中添加正确的显示.
 * 1. 在Edge，IE和Firefox中添加正确的显示.
 */

details, /* 1 */
menu {
  display: block;
}

/*
 * 在所有浏览器中添加正确的显示.
 */

summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */

/**
 *在IE 9-中添加正确的显示.
 */

canvas {
  display: inline-block;
}

/**
 * 在IE中添加正确的显示.
 */

template {
  display: none;
}
/* Hidden
   ========================================================================== */

/**
 *在IE 10-中添加正确的显示.
 */

[hidden] {
  display: none;
}
